.search-section {
  background-color: #fdf2e9;
  padding-bottom: 3.2rem;
}

.search-section h2 {
  padding-top: 3.2rem;
  margin-bottom: 4.8rem;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: orchid; */
  gap: 10px;
}

.btn--search,
.btn--search:link,
.btn--search:visited {
  display: inline-block;
  background-color: #e67e22;
  padding: 1rem 1.6rem;
  border-radius: 9px;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn--search:hover {
  background-color: #cf711f;
}

.search-container input,
.search-container select {
  width: 20%;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.place-section {
  margin: 3.2rem;
  height: auto;
  display: grid;
  column-gap: 3rem;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 9fr 1fr;
}

.place-section .place-lists,
.place-section .place-detail {
  border-radius: 12px;
}

.place-section .place-lists {
  background-color: #e67e22;
  grid-column: 1 / 2;
}

.place-section .place-detail {
  /* background-color: lightcoral; */
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}

.place-section .place-pagination {
  /* background-color: orange; */
}

/* .places {
    padding: 2.4rem 3.2rem;
    display: grid;
    grid-template-rows: auto, repeat(5, 1fr), auto;
    gap: 12px;
    list-style: none;
    align-items: center;
    justify-content: space-around;
  }  
  */

.places {
  /* padding-left: 3.2rem; */
  height: 100%;
  padding: 2.4rem 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.places li {
  width: 100%;
}

.place {
  width: 100%;
  background-color: #fff;
  padding: 2.2rem 3.2rem;
  border-radius: 8px;
  /* padding-left: 1.2rem; */
  transition: all 0.3s;
}

.place:hover {
  background-color: #fdf2e9;
  scale: 1.05;
}

.place:active {
  background-color: #fae5d3;
  scale: 1.01;
}

.place-title {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.place-description {
  color: #777;
  font-size: 1.4rem;
}

.place-pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pagination-btn {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-btn:hover {
  background-color: #e67e22;
}

.pagination-btn:hover .icon {
  color: #fff;
}

.page {
  font-size: 1.8rem;
}

.icon {
  width: 3.6rem;
  height: 3.6rem;
  color: #e67e22;
}

.place-detail {
  padding: 3.2rem 3.2rem 1.6rem 3.2rem;
  border: #fff solid 1px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
  overflow: scroll;
}

.place-detail:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  scale: 1.01;
}

.section-find-place {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  overflow-y: scroll;
  padding-bottom: 32px;
  padding-top: 256px;
  /* display: none; */
}
.find-place {
  /* display: none; */
  /* position: fixed;
      left: 50; */
  background-color: #fff;
  height: auto;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  padding: 3.2rem 3.2rem 2.4rem 3.2rem;
  border: #e67e22 3px solid;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.find-place-form {
  /* background-color: orchid; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  font-size: 1.8rem;
}

.find-place-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
}

.header-heading {
  font-size: 3.6rem;
}

.header-btn {
  margin-left: auto;
  background-color: #fff;
  background-color: none;
  border: none;
  cursor: pointer;
  width: auto;
  height: auto;
  font-size: 4.8rem;
  transition: all 0.15s;
}

.header-btn:hover {
  color: #e67e22;
}

.find-place-form input,
.find-place-form select,
.find-place-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  /* box-shadow: 0 2px 5px rgba(230, 125, 34, 0.5); */
}

.find-place-form input:focus,
.find-place-form select:focus,
.find-place-form textarea:focus {
  background-color: #fff;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
}
